[Unit]
Description=backlight service
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u main_backlight.py
WorkingDirectory=/home/pi/rpi_styra/services/backlight/py
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target